<template>
  <div id="app">
    <header>
      <h1>App Jornada d'Emprenedoria</h1>
    </header>
    <div id="taulaHoraris">
      <div data-app>
        <div id="select_horaris_classe">
          <v-container>
            <v-layout row wrap justify-start>
            <v-row>
              <v-col cols="2">
                <v-subheader>
                  Horaris ECAIB
                </v-subheader>
              </v-col>
              <v-col cols="2">
                <v-select
                    v-model="select"
                    :hint="`${select.cicle}`"
                    :items="items"
                    item-text="cicle"
                    label="Select"
                    persistent-hint
                    return-object
                    single-line
                ></v-select>
              </v-col>
              <v-col>

              </v-col>
              <v-col cols="2">
                <v-select
                    v-model="select2"
                    :hint="`${select2.convidat}`"
                    :items="items2"
                    item-text="convidat"
                    label="Convidat"
                    persistent-hint
                    return-object
                    single-line
                ></v-select>
              </v-col>
            </v-row>
            </v-layout>
          </v-container>
        </div>
      </div>
      <table>
        <thead>
        <tr>
          <th></th>
          <th>
            Dilluns
          </th>
          <th></th>
          <th>
            Dimarts
          </th>
          <th>
            Dimecres
          </th>
          <th></th>
          <th>
            Dijous
          </th>
          <th>Divendres</th>
        </tr>
        </thead>
        <tbody v-if="select.cicle === 'DAM 2'">
        <tr>
          <td>
            15-16
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            15-16
          </td>
          <td class="M10">
            M10
          </td>
          <td></td>
          <td>
            15-16
          </td>
          <td></td>
          <td class="M0">
            M0
          </td>
        </tr>
        <tr>
          <td>
            16-17
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            16-16.50
          </td>
          <td class="M10">
            M10
          </td>
          <td class="M12">
            M12
          </td>
          <td>
            16-17
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        <tr>
          <td>
            17-18
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            16.50-17-40
          </td>
          <td>
            Tutoria
          </td>
          <td class="M12">
            M12
          </td>
          <td>
            17-18
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        </tbody>
        <tbody v-if="select.cicle ===  'DAM 1'">
        <tr>
          <td>
            15-16
          </td>
          <td class="M1">
            M1
          </td>
          <td>
            15-16
          </td>
          <td class="tutoria">
            Tutoria
          </td>
          <td></td>
          <td>
            16-16.50
          </td>
          <td></td>
          <td class="M3">
            M3
          </td>
        </tr>
        <tr>
          <td>
            15-16
          </td>
          <td class="M3">
            M3
          </td>
          <td>
            15-16
          </td>
          <td class="M11">
            M11
          </td>
          <td class="M1">
            M1
          </td>
          <td>
            16-16.50
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        <tr>
          <td>
            17-18
          </td>
          <td class="M0">
            M0
          </td>
          <td>
            16.50-17-40
          </td>
          <td>
            Tutoria
          </td>
          <td class="M12">
            M12
          </td>
          <td>
            17-18
          </td>
          <td class="M8">
            M8
          </td>
          <td class="M0">
            M0
          </td>
        </tr>
        </tbody>
      </table>
    </div>
  </div>
</template>

<script>
export default {
  data () {
    return {
      select: { cicle: ''},
      items: [
        { cicle: 'DAM 1'},
        { cicle: 'DAM 2'},
        { cicle: 'SMIX 1'},
        { cicle: 'SMIX 2'},
      ],
      select2: { convidat: ''},
      items2: [
        { convidat: 'David'}
      ],
    }
  }
}
</script>

<style>
@import '/node_modules/@syncfusion/ej2-vue-schedule/styles/material.css';

#app {
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
}

#nav {
  padding: 30px;
}

#nav a {
  font-weight: bold;
  color: #2c3e50;
}

#nav a.router-link-exact-active {
  color: #42b983;
}

#taulaHoraris {
  alignment: left;
  margin: 10px;
  padding: 10px;
}

.M0 {
  background-color: lightgrey;
}
.M10 {
  background-color: mediumslateblue;
}
.M12 {
  background-color: dimgray;
}
.M8 {
  background-color: orangered;
}
#select_horaris_classe {
  alignment: left;
}
</style>